Package: com.kimjongun.iPhoneOSsdk
Depends: clang-10 (>= 10.0.0~svn-20191106+dcaf932-1)
Name: iPhoneOSsdk
Version: 1.0
Architecture: iphoneos-arm
Description: Install theos+sdk
Depiction: http://rip.com
Homepage: https://kim.com
Author: iOwnzyoreuid0
Section: System
Maintainer: iOwnzyoreuid0
